pkgbase = cryptodev-linux-comp-git
	pkgdesc = cryptodev Linux module (with compression support)
	pkgver = r375.02931ca
	pkgrel = 2
	url = http://cryptodev-linux.org/
	install = cryptodev-linux-comp.install
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = GPL
	makedepends = linux-headers
	optdepends = openssl-cryptodev: OpenSSL with cryptodev support
	provides = cryptodev_friendly
	conflicts = cryptodev_friendly
	source = cryptodev-linux-comp::git+https://github.com/plauth/cryptodev-linux
	sha256sums = SKIP

pkgname = cryptodev-linux-comp-git

